.close {
    cursor: pointer;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .right-pane{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  